body{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

.container {
    width: 85%;
    margin: 0 auto; /* This will center the container horizontally */
    display: flex;  /* These flex properties will help in centering content */
    flex-direction: column;
    justify-content: center; /* Center the content horizontally */
    align-items: center;     /* Center the content vertically */
    min-height: 95vh;       /* Take full viewport height */
}


.links {
    display: flex;
    justify-content: space-between; /* Distribute the space evenly between the links */
    width: 85%; /* Make sure the links container spans the full width of its parent to distribute space properly */
    text-align: center;
    font-weight: lighter;
}

.links a {
    color: inherit;
    text-decoration: none; /* Optional: to remove the default underline of links */
    padding: 5px 10px; /* Optional: some padding for each link for better appearance */
    white-space: nowrap;  /* Prevent wrapping */
    font-size: 2.5vw;
    font-weight: 200;
}

.links a:hover {
    text-shadow: 1px 1px 1px #020505a6; /* Adds a subtle shadow to the text */
    transition: all 0.3s ease-in-out; /* Smooth transition for all changes */
}


h1 {
    width: 85vw;          /* Set the width to 85% of the viewport width */
    white-space: nowrap;  /* Prevent wrapping */
    overflow: hidden;     /* Hide any overflow */
    font-size: 11vw;      
    text-align: center;
    margin-top: 0px;
    margin-bottom: 3%;
    font-weight: 900;
}

.buttons {
    width: 98%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.left-button, .right-button {
    background-color: transparent; /* or any color you prefer */
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 4rem;
}